@import url('https://fonts.googleapis.com/css2');

*{
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Courgette', cursive;
  margin: 0;
  padding: 0;
  background-color: #12111f;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}
.header {
  background-color: #FFC857;
  padding: 10px;
  border-radius: 5px;
}
h1 {
  color: #Ffff;
}
.description {
  color: #666;
  margin-top: 10px;
}
.cta-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #FFC857;
  color: #333;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 20px;
  font-weight: bold;
  text-align: center;

}
.bg-max{
  background-image:  linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('https://uozxpkapjvicsytezmip.supabase.co/storage/v1/object/public/imagens/home/rosas');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;

  background-color: #fff ;
  width: 100%;
  height: 100vh;
  margin: 0 auto;

  


}


.text-bella{
  color: #faebd7;
    
}
.text-rosa{
  color: #f277c7;
}
.text-black{
  color: #12111f;
    
}
.btn-rosa{
  background-color: #faebd7;
  box-shadow:5px 5px 0px 0px #f277c7;
  border-radius: 0px;
  font-weight: 700;
 
}

.btn-rosa:hover {
background-color:   #FFFF;
color:#000;
box-shadow:8px 8px 0px 0px #f277c7;

}

.bg-rosa{
  background-color:#ffffff ;
  width:100vw;
  padding-top: 5.5rem;
  padding-bottom: 5.5rem;
  color:#12111f;
  margin: 0;
  position: relative;
  
}

